@media print {
  body * {
    visibility:hidden;
  } #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position: fixed;
        left:0;
        top:0;
    }
}